img#Mylogo{
    height: 55px;
}


body{
    background-color: rebeccapurple;
}
div.card{
width: 20rem;
background-color: rebeccapurple;
color: white;
border: none;
}
div.jumbotron{
    color:rebeccapurple;
    background-color:white ;
}
img.carousel-item{
    height: 500;
}
.carousel-item{
    height: 500px;
    min-width: 500px;
}

h2{
    text-align: center;
}
img#Mylogo{
    height: 55px;
}

body{
    background-color: rebeccapurple;
}
div.card{
width: 20rem;
background-color: rebeccapurple;
color: white;
border: none;
}
div.jumbotron{
    color:rebeccapurple;
    background-color:white ;
}
img.carousel-item{
    height: 500;
}
.carousel-item{
    height: 500px;
    min-width: 500px;
}

h2{
    text-align: center;
}

table{
  text-align:center;
}
th{
  background-color:rebeccapurple;
  color: black;
}
td{
 border: 2px solid grey;
  color: Black;
}